/* The standard CSS for doxygen */

@font-face {
   font-family: 'Arrow';
   src: local('Arial');
   unicode-range: U+2192;
}

@font-face {
  font-family: din;
  font-style: bold;
  src:url('DINOT-Bold.otf');
}

@font-face {
  font-family: DINOT;
  src:url('DINOT.otf');
}

@font-face {
  font-family: DINOT-Bold;
  font-style: bold;
  src:url('DINOT-Bold.otf');
}

@font-face {
  font-family: din;
  src:url('DINOT.otf');
}

@font-face {
  font-family: din-Light;
  src:url('DINOT-Light.otf');
}

@font-face {
	font-family: din-Bold;
	src:url('DINOT-Bold.otf');
}

@font-face {
	font-family: din-Med;
	src:url('DINOT-Medium.otf');	
}

embed svg {
  max-width: 100%;
/*  height: 110px;*/
}

pre {
  width: 100%;
  white-space: pre-wrap;
  background-color: #F7F9F9;
  border: 1px solid #DCE5E5;
  padding: 8px 0px 8px 8px;
  margin: 4px;
	font: 14px din, Geneva;
	line-height: 1;
  font-family: din;
  font-weight: normal;
  font-style: normal;
  src:url('DINOT.otf');
}

td pre {
	white-space: pre;
}

body, table, div, p, dl {
	/*font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;*/
	font: 14px Arrow, din, Geneva;
	line-height: 1.3;
	color: #272727;
}

/* @group Heading Levels */

h1 {
	font-size: 150%;
	padding-top: 1.5ex;
}

.title {
	font-size: 240%;
	font-family: din-Light, Verdana;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-left: 28px;
}

h2 {
	font-size: 125%;
	text-transform: uppercase;
	letter-spacing: .07em;
	padding-top: 1.5ex;
}

h3 {
	font-size: 115%;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	margin-right: 15px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px cyan;
}

dt {
	font-weight: bold;
}

div.multicol {
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

p.startli, p.startdd, p.starttd {
	margin-top: 2px;
}

p.endli {
	margin-bottom: 0px;
}

p.enddd {
	margin-bottom: 4px;
}

p.endtd {
	margin-bottom: 2px;
}

/* @end */

caption {
	font-weight: bold;
}

span.legend {
        font-size: 70%;
        text-align: center;
}

h3.version {
        font-size: 90%;
        text-align: center;
}

div.qindex, div.navtab{
	background-color: #EFEFF2;
	border: 1px solid #B7B7C3;
	text-align: center;
}

div.qindex, div.navpath {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 15px;
}

/* @group Link Styling */

#legendlink {
  font-size: 80%;
  margin-top: -2ex;
  font-weight: bold;
}

a {
	/* desat purple */
	/*color: #5A5A6E;*/
	/*dark purp*/
	/*color: #696980;*/
	color: #777781;
	/* teal */
	/*color: #5a857d;*/
	/*color: #4D7069;*/
	/* burnt oj */
	/*color: #A1441C;*/
	/*color: #203540;*/
	text-decoration: none;
	font-weight: normal;
	font-family: din-Bold, Verdana;
	font-size: 97%;
}

.tablist a {
	font-family: din-Med, Geneva, sans-serif;
}

.contents a:visited {
	/* desat purple */
	/*color: #5A5A6E;*/
	/*dark purp*/
	/*color: #696980;*/
	color: #777781;
	/*dark teal*/
	/*color: #425e59;*/
	/* teal */
	/*color: #5a857d;*/
	/*color: #4D7069;*/
	/*color: #203540;*/
	/* burnt oj */
	/*color: #A1441C;*/
}

a:hover {
	text-decoration: underline;
}

a.qindex {
	font-weight: bold;
}

a.qindexHL {
	font-weight: bold;
	background-color: #B1B1BF;
	color: #ffffff;
	border: 1px double #A0A0B1;
}

.contents a.qindexHL:visited {
        color: #ffffff;
}

a.el {
	
}

a.elRef {
}

a.code, a.code:visited {
	color: #4665A2; 
}

a.codeRef, a.codeRef:visited {
	color: #4665A2; 
}

/* @end */

dl.el {
	margin-left: -1cm;
}

pre.fragment {
        border: 1px solid #D1D1D9;
        background-color: #FBFCFD;
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
        overflow: auto;
        word-wrap: break-word;
        font-size:  9pt;
        line-height: 125%;
        font-family: monospace, fixed;
        font-size: 105%;
}

div.fragment {
        padding: 4px;
        margin: 4px;
	background-color: #FCFCFC;
	border: 1px solid #D1D1D9;
}

div.line {
	font-family: monospace, fixed;
        font-size: 13px;
	min-height: 13px;
	line-height: 1.0;
	text-wrap: unrestricted;
	white-space: -moz-pre-wrap; /* Moz */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3  */
	word-wrap: break-word;      /* IE 5.5+ */
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
}

span.lineno {
	padding-right: 4px;
	text-align: right;
	border-right: 2px solid #0F0;
	background-color: #E8E8E8;
        white-space: pre;
}
span.lineno a {
	background-color: #D8D8D8;
}

span.lineno a:hover {
	background-color: #C8C8C8;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px;
	padding: 0.2em;
	border: solid thin #333;
	border-radius: 0.5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#000),color-stop(0.3, #444));
	background-image: -moz-linear-gradient(center top, #eee 0%, #444 40%, #000);
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

body {
	background-color: white;
	letter-spacing: .05em;
	color: black;
        margin: 0;
}

div.contents {
	margin-top: 30px;
	margin-bottom: 60px;
}

div.contents, .header {
	margin-left: 28px;
	/*margin-right: 28px;*/
	/*margin-right: 165px;*/
}
div.contents {
	width:750px;
}
.footer {
	margin-right: 28px;
}

.header {
	padding-right: 28px;
}

td.indexkey {
	background-color: #EFEFF2;
	font-weight: bold;
	border: 1px solid #D1D1D9;
	margin: 2px 0px 2px 0;
	padding: 2px 10px;
        white-space: nowrap;
        vertical-align: top;
}

td.indexvalue {
	background-color: #EFEFF2;
	border: 1px solid #D1D1D9;
	padding: 2px 10px;
	margin: 2px 0px;
}

tr.memlist {
	background-color: #F1F1F4;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
	
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px;
}

div.center img {
	border: 0px;
}

div.contents img {
	max-width:100%;
	max-height:100%;
}

.footer {
	font-family: din-Light, Geneva, sans-serif;
	color: #777781;
	/*color: #b2b3b2;*/
	margin-bottom: 1ex;
}

address.footer {
	text-align: right;
	/*padding-right: 12px;*/
	padding-right: 0px;
}

img.footer {
	border: 0px;
	vertical-align: middle;
}

/* @group Code Colorization */

span.keyword {
	color: #008000
}

span.keywordtype {
	color: #604020
}

span.keywordflow {
	color: #e08000
}

span.comment {
	color: #800000
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
	color: #002080
}

span.charliteral {
	color: #008080
}

span.vhdldigit { 
	color: #ff00ff 
}

span.vhdlchar { 
	color: #000000 
}

span.vhdlkeyword { 
	color: #700070 
}

span.vhdllogic { 
	color: #ff0000 
}

blockquote {
        background-color: #F8F8F9;
        border-left: 2px solid #B1B1BF;
        margin: 0 24px 0 4px;
        padding: 0 12px 0 16px;
}

/* @end */

/*
.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}
*/

td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #B7B7C3;
}

th.dirtab {
	background: #EFEFF2;
	font-weight: bold;
}

hr {
	height: 0px;
	border: none;
	/*border-top: 1px solid #6E6E86;*/
}

hr.footer {
	height: 1px;
}

/* @group Member Descriptions */

table.memberdecls {
	border-spacing: 0px;
	padding: 0px;
  margin-bottom: 15px;
}

.memberdecls td {
	
}

.memberdecls td.glow {
	background-color: cyan;
	box-shadow: 0 0 15px cyan;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
	background-color: #FAFAFB;
	border: none;
	margin: 4px;
	padding: .5ex 0 .8ex 8px;
	vertical-align:middle;
}

.mdescLeft, .mdescRight {
	padding: 0px 8px 4px 8px;
	color: #555;
}

.memItemLeft, .memItemRight, .memTemplParams {
	border-top: 1px solid #D1D1D9;
}

.memItemLeft, .memTemplItemLeft {
        white-space: nowrap;
}

.memItemRight {
	width: 100%;
}

.memTemplParams {
	color: #696980;
        white-space: nowrap;
}

/* @end */

/* @group Member Details */

/* Styles for detailed member documentation */

.memtemplate {
	font-size: 80%;
	color: #696980;
	font-weight: normal;
	margin-left: 9px;
}

.memnav {
	background-color: #EFEFF2;
	border: 1px solid #B7B7C3;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.mempage {
	width: 100%;
}

.memitem {
	padding: 0;
	margin-bottom: 10px;
	margin-right: 5px;
}

.memitem.glow {
         box-shadow: 0 0 15px cyan;
}

.memname {
        font-weight: bold;
        margin-left: 6px;
}

.memname td {
	vertical-align: bottom;
}

.memproto, dl.reflist dt {
        padding: 6px 0px 6px 0px;
        color: #373743;
        font-weight: bold;
        background-color: #E8E8EC;
}

.memdoc, dl.reflist dd {
        padding: 2px 20px 2px 50px;
        border-top-width: 0;
        background-color: #F5F5F5;
}

dl.reflist dt {
        padding: 5px;
}

dl.reflist dd {
        margin: 0px 0px 10px 0px;
        padding: 5px;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	color: #522E2E;
	white-space: nowrap;
}
.paramname em {
	font-style: normal;
}

.params, .retval, .exception, .tparams {
        margin-left: 0px;
        padding-left: 0px;
}       

.params .paramname, .retval .paramname {
        font-weight: bold;
        vertical-align: top;
}
        
.params .paramtype {
        font-style: italic;
        vertical-align: top;
}       
        
.params .paramdir {
        font-family: "courier new",courier,monospace;
        vertical-align: top;
}

table.mlabels {
	border-spacing: 0px;
}

td.mlabels-left {
	width: 100%;
	padding: 0px;
}

td.mlabels-right {
	vertical-align: bottom;
	padding: 0px;
	white-space: nowrap;
}

span.mlabels {
        margin-left: 8px;
}

span.mlabel {
        background-color: #9090A4;
        border-top:1px solid #777790;
        border-left:1px solid #777790;
        border-right:1px solid #D1D1D9;
        border-bottom:1px solid #D1D1D9;
	text-shadow: none;
        color: white;
        margin-right: 4px;
        padding: 2px 3px;
        border-radius: 3px;
        font-size: 7pt;
	white-space: nowrap;
}



/* @end */

/* these are for tree view when not used as main index */

div.directory {
        margin: 10px 0px;
        border-top: 1px solid #AFAFB9;
        border-bottom: 1px solid #AFAFB9;
        width: 100%;
}

.directory table {
        border-collapse:collapse;
        background-color: #F2F2F2;
}

.directory td {
        margin: 0px;
        padding: 0px;
	vertical-align: middle;
}

.directory td.entry, .directory td.desc {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding-top: .5ex;
	padding-bottom: .5ex;
}
.directory td.entry {
        white-space: nowrap;
        padding-right: 6px;
        /*border-bottom: 1px solid rgba(0,0,0,0.05);*/
}

.directory td.entry a {
        outline:none;
}

.directory td.desc {
        width: 100%;
        padding-left: 6px;
	padding-right: 6px;
	/*border-left: 1px solid rgba(0,0,0,0.05);*/
	/*border-bottom: 1px solid rgba(0,0,0,0.05);*/
}

.directory tr.even {
	padding-left: 6px;
	/*background-color: #F8F8F9;*/
}

.directory img {
	vertical-align: -30%;
}

.directory .levels {
        white-space: nowrap;
        width: 100%;
        text-align: right;
        font-size: 9pt;
}

.directory .levels span {
        cursor: pointer;
        padding-left: 2px;
        padding-right: 2px;
	color: #5A5A6E;
}

div.dynheader {
        margin-top: 8px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

address {
	font-style: normal;
	color: #3F3F4D;
}

table.doxtable {
	border-collapse:collapse;
        margin-top: 4px;
        margin-bottom: 4px;
}

table.doxtable td, table.doxtable th {
	border: 1px solid #434352;
	padding: 3px 7px 2px;
}

table.doxtable th {
	background-color: #525264;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}

table.fieldtable {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #BABAC7;
        border-spacing: 0px;
        margin: 20px 0px;
}

.fieldtable td, .fieldtable th {
        padding: 3px 7px 2px;
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
        white-space: nowrap;
        border-right: 1px solid #BABAC7;
        border-bottom: 1px solid #BABAC7;
        vertical-align: top;
}

.fieldtable td.fielddoc {
        border-bottom: 1px solid #BABAC7;
        width: 100%;
}

.fieldtable tr:last-child td {
        border-bottom: none;
}

.fieldtable th {
        background-color: #E8E8EC;
        font-size: 90%;
        color: #373743;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align:left;
        border-bottom: 1px solid #BABAC7;
}


.tabsearch {
	top: 0px;
	left: 10px;
	height: 36px;
	background-image: url('tab_b.png');
	z-index: 101;
	overflow: hidden;
	font-size: 13px;
}

#nav-path {
	background-color: #E2E2E2;
}

.navpath ul
{
	font-size: 9px;
	background-image:none;
	background-color: #E2E2E2;
	height:20px;
	line-height:20px;
	color:#A3A3B3;
	border-style: hidden;
	border: none;
	overflow:hidden;
	margin:0px;
	padding:0px;
	margin-left: 28px;
}

.navpath li
{	
	list-style-type:none;
	float:left;
	padding-left:5px;
	padding-right:20px;
	border-left: 1px dotted #BCBEC0;
	border-right: 1px dotted #BCBEC0;
	background-image:none;
	color:#505062;
	text-align: center;
}

.navpath li.navelem a
{
	height:32px;
	display:block;
	text-decoration: none;
	outline: none;
}

.navpath li.navelem a:hover
{
	color:#88889D;
}

.navpath li.footer
{
        list-style-type:none;
        float:right;
        padding-left:10px;
        padding-right:15px;
        background-image:none;
        background-repeat:no-repeat;
        background-position:right;
        color:#505062;
        font-size: 8pt;
}


div.summary
{
	float: right;
	font-size: 8pt;
	padding-right: 5px;
	width: 50%;
	text-align: right;
}       

div.summary a
{
	white-space: nowrap;
}

div.ingroups
{
	margin-left: 5px;
	font-size: 8pt;
	padding-left: 5px;
	width: 50%;
	text-align: left;
}

div.ingroups a
{
	white-space: nowrap;
}

div.header
{
  /*background-image:url('nav_h.png');*/
  background-repeat:repeat-x;
	background-color: #E2E2E2;
	margin:  0px;
	border-bottom: 1px solid #BCBEC0;
	/*border-top: 1px solid #AFAFB9;*/
}

dl
{
        padding: 0 0 0 10px;
}

/* dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug */
dl.section
{
	margin-left: 0px;
	padding-left: 0px;
}

dl.note
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #D0C000;
}

dl.warning, dl.attention
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #00D000;
}

dl.deprecated
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #505050;
}

dl.todo
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #00C0E0;
}

dl.test
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #3030E0;
}

dl.bug
{
        margin-left:-7px;
        padding-left: 3px;
        border-left:4px solid;
        border-color: #C08050;
}

dl.section dd {
	margin-bottom: 6px;
}


#projectlogo
{
	text-align: center;
	vertical-align: center;
	border-collapse: separate;
}
 
#projectlogo img
{ 
	font: 300% din, Geneva, Arial,sans-serif;
	border: 0px none;
	padding-left: 5px;
	margin-left: 4px;
	max-height: 3ex;
}
 
#projectname
{
	font: 150% din-Light, Geneva, Arial,sans-serif;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: white;
	margin: 0px;
	margin-top: 28px;
	margin-left: 28px;
}
    
#projectbrief
{
	font: 80% din, Geneva, Arial,sans-serif;
	color: white;
	letter-spacing: .1em;
	margin: 0px;
	padding: 0px;
}

#projectnumber
{
	font: 50% din, Geneva, Arial,sans-serif;
	color: white;
	letter-spacing: 0.5em;
	margin: 0px;
	padding: 0px;
}

#titlearea
{
	padding: 0px;
	padding-bottom: 16px;
	/*padding-top: 8px;*/
	margin: 0px;
	width: 100%;
	/*background-color: #4A4B56;*/
	background-color: #31313B;
	border-bottom: 3px solid #777781;
}

#ob-logo {
	display: block;
	float: right;
	margin-right: 32px;
	margin-top: 15px;
	margin-bottom: 0px;
}

#browser-warning-big {
	background-color: #AFAFAF;
  font: 100% din, Geneva, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  padding-left: 28px;
  width: 100%;
  line-height: 4.75ex;
  letter-spacing: 0.3em;
  /*font-weight: bold;*/
}

.image
{
        text-align: center;
}

.dotgraph
{
        text-align: center;
}

.mscgraph
{
        text-align: center;
}

.caption
{
	font-weight: bold;
}

div.zoom
{
	border: 1px solid #A7A7B7;
}

dl.citelist {
        margin-bottom:50px;
}

dl.citelist dt {
        color:#4C4C5C;
        float:left;
        font-weight:bold;
        margin-right:10px;
        padding:5px;
}

dl.citelist dd {
        margin:2px 0;
        padding:5px 0;
}

div.toc {
        padding: 14px 25px;
        background-color: #F7F7F8;
        border: 1px solid #E0E0E6;
        border-radius: 7px 7px 7px 7px;
        float: right;
        height: auto;
        margin: 0 20px 10px 10px;
        width: 200px;
}

div.toc li {
        background: url("bdwn.png") no-repeat scroll 0 5px transparent;
        font: 10px/1.2 Verdana,DejaVu Sans,Geneva,sans-serif;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 2px;
}

div.toc h3 {
        font: bold 12px/1.2 Arial,FreeSans,sans-serif;
	color: #696980;
        border-bottom: 0 none;
        margin: 0;
}

div.toc ul {
        list-style: none outside none;
        border: medium none;
        padding: 0px;
}       

div.toc li.level1 {
        margin-left: 0px;
}

div.toc li.level2 {
        margin-left: 15px;
}

div.toc li.level3 {
        margin-left: 30px;
}

div.toc li.level4 {
        margin-left: 45px;
}

.inherit_header {
        font-weight: bold;
        color: gray;
        cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inherit_header td {
        padding: 6px 0px 2px 5px;
}

.inherit {
        display: none;
}

tr.heading h2 {
        margin-top: 16px;
        margin-bottom: 12px;
}

/*navbar tabs.css overriding goin on here*/

.tabs, .tabs2, .tabs3, .tablist li, .tablist a, 
.tablist a:hover, .tablist li.current a {
	background-image: none !important;
	text-shadow: none;
	font-family: Verdana, sans-serif !important;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .15em;
}

/*default coloring*/
.tablist li, .tablist a {
	
	/*padding: 10px, 10px;*/
	/*border-bottom: 1px solid #777781;*/

}

.tablist a {
	/*background-color: #CCC;*/
	/*border-top: 3px solid #CCC;*/
	/*padding-top: -3px;*/
	color: black;
	padding: 0 3em;
	padding-top: 1ex;
}

.tablist li {
	/*border-left: 12px solid #777781;*/
	text-align: center;
	/*border-bottom: 4px solid #777781;*/
	border-bottom: none;
	/*padding-right: 6px;*/
	line-height: 4.75ex;
}

.tabs .tablist li {
	min-width: 17em;
}
.tabs2 .tablist li, .tabs3 .tablist li {
	min-width: 17em;
}

/*background of navbar*/
.tabs, .tabs2, .tabs3 {
	/*background-color: #777781;*/
	/*border-bottom: 1px solid #31313B;*/
	/*padding: 10px, 10px;*/
	padding-left: 28px;
	width: 100%;
	/*border-top: 4px solid #777781;*/
	/*padding-bottom: 3px;*/
	/*padding-top: 3px;*/
}

.tabs {
	background-color: #AFAFAF;
}

.tabs2 .tablist a, .tabs3 .tablist a, .tabs2 .tablist li.current a, .tabs3 .tablist li.current a {
	font-size: 75%;
	line-height: 5.5ex;
	border-top-width: 0px !important;
	/*background-color: #E2E2E2;*/
}

#navrow2 {
	background-color: #CCC;
}

#navrow2 .tabs2 .tablist a:hover {
	border-top: none;
	font-weight: bold;
	color: black;
}

#navrow2 li.current a {
	border-top: none;
	font-weight: bold;
	background-color: #E2E2E2;
}

#navrow3 {
	border-top: none;
	font-weight: bold;
	background-color: #E2E2E2;
	color: black;
}

#navrow3 li.current a {
	background-color: white;
}

/*hovered tab*/
.tablist a:hover {
	/*background-color: #F2F2F2;*/
	/*background-color: #E2E2E2;*/
	color: black;
	/*border-top: 3px solid #B58200;*/
	/*border-top: 3px solid #777781; */
	/*#FDAA36*/
	/*border-left: 1px solid #777781;*/
	/*border-right: 1px solid #777781;*/
}

.tablist li.current a {
	color: black;
	font-weight: bold;
}
/*currently selected tab*/
#navrow1 .tablist li.current a {
	/*background-color: #F2F2F2;*/
	background-color: #CCC;
	/*border-top: 3px solid #B58200;*/
	/*border-top: 3px solid #777781; */
	/*#FDAA36*/
	/*margin-right: -1.5px;*/
	/*margin-left: -1.5px;*/
}

#MSearchBox {
	margin-right: 12px;
}

/*print things, apparently*/

@media print
{
  #top { display: none; }
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
}

