@font-face {
      font-family: din;
      font-weight: normal;
      font-style: normal;
      src:url('../../fonts/DINOffc-Light.ttf');
}

@font-face {
      font-family: din;
      font-weight: bold;
      font-style: bold;
      src:url('../../fonts/DINOffc-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}
@page {
    size: landscape;
}
body {
    font: 100% din, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
div.slide {
    min-width: 800px;
    min-height: 600px;
    padding: 1em;
    overflow: hidden;
    page-break-after: always;
    border: 1px solid black;
    border-radius: 20px;
}
div.slide div.inner {
    width: 800px;
    height: 600px;
    margin: auto;
    display: table-cell;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    margin: 1em 0;
}
ul {
    margin: 0;
    padding: 0;
}
p, li, pre {
    margin: 1em 0;
}
li {
    margin-left: 2em;
}
a {
    color: #000000;
}
pre, code {
    max-width: 800px;
    background: #eee;
    font-family: Monaco, monospace;
    font-size: 90%;
}
pre {
    padding: .2em .5em;
    overflow: hidden;
    border-radius: .8em;
}
code {
    padding: 0 .2em;
}
.slide header:only-child h1 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 600px;
  width: 800px;
  font-size: 48px;
  margin-top:100px;
  margin-bottom:100px;
}
#toc, #help, .slide aside, .slide footer, .slide .notes {
  display: none;
}
